# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: FastAPI OAuth 2.0
site_description: 在 FastAPI 中异步授权 OAuth 2.0 客户端
site_url: https://wu-clan.github.io/fastapi-oauth20
site_author: Wu Clan
repo_name: fastapi-oauth20
repo_url: https://github.com/wu-clan/fastapi-oauth20
nav:
  - 主页: index.md
  - 安装: install.md
  - 名词解释: explanation.md
  - 用法: usage.md
  - 集成:
      - FastAPI: fastapi.md
  - 客户端状态: status.md
  - 客户端申请:
      - LinuxDo: clients/linuxdo.md
      - GitHub: clients/github.md
      - Gitee: clients/gitee.md
      - 开源中国: clients/oschina.md
      - 微信小程序: clients/wechat_open.md
      - 微信开放平台: clients/wechat_mp.md
      - 企业微信二维码登录: clients/wechat_work.md
      - 飞书: clients/feishu.md
      - 钉钉: clients/dingding.md
      - QQ: clients/qq.md
      - 微博: clients/weibo.md
      - 抖音: clients/douyin.md
      - Google: clients/google.md
  - 变更日志: changelog.md
theme:
  name: material
  font:
    code: Roboto Mono
  palette:
    - media: '(prefers-color-scheme)'
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.annotate
    - content.code.select
    - navigation.instant
    - navigation.instant.progress
    - navigation.path
    - navigation.tracking
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - search.suggest
    - toc.follow
plugins:
  - search
  - glightbox
markdown_extensions:
  - toc:
      permalink: true
  - tables
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
